<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./style.css">
    <style type="text/css">
    td {
    background-color: #0000003b;
}
th {
    color: white;
    background-color: #151515c9;
}.row {
      margin-bottom: 20px;
    }

    .button.button-small {
      height: 30px;
      line-height: 30px;
      padding: 0px 10px;
    }

    td input[type=text],
    td select {
      width: 100%;
      height: 30px;
      margin: 0;
      padding: 2px 8px;
    }

    th:last-child {
      text-align: right;
    }

    td:last-child {
      text-align: right;
    }

    td:last-child .button {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 0px;
      margin-bottom: 0px;
      margin-right: 5px;
      background-color: #FFF;
    }

    td:last-child .button .fa {
      line-height: 30px;
      width: 30px;
    }

    </style>
</head>
<body>
<nav class="navbar" style="background-color: gray;">
   <form class="form-inline my-2 my-lg-0"  onclick="logout()" style="    margin-left: 94%;
">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
</nav>
<!-- partial:index.partial.html -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="editableTable">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th>Edit</th>
                    <th>DELETE</th>
                </tr>
                </thead>
                <tbody>

                {% for i in data %}

                <tr data-id="i">
                    <td data-field="name">{{i}}</td>
                    <td data-field="birthday">{{i.email}}</td>
                    <td data-field="age">{{i.address.Address}}</td>
                    <td>
                        <button type="button" onclick="myfunction({{i.id}})"  class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter">
                            Edit
                        </button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">EDIT DATA</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="card-form" id="form_id" method="POST">{% csrf_token %}
                                            <label for="UserEmail">Username</label>
                                            <div class="card-input-container UserEmail">
                                                <input type="text"  placeholder="Enter your Username"
                                                       id="Username" name="Username">
                                            </div>
                                            <label for="UserEmail">UserEmail</label>
                                            <div class="card-input-container UserEmail">
                                                <input type="text"
                                                       placeholder="Enter your UserEmail" id="UserEmail"
                                                       name="UserEmail">
                                            </div>


                                            <label for="password">Address</label>
                                            <div class="card-input-container Address">
                                                <input type="text"
                                                       placeholder="Enter your Address" id="Address" name="Address">
                                            </div>


                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <!-- Optional JavaScript -->
                                <!-- jQuery first, then Popper.js, then Bootstrap JS -->


                    </td>
                    <td>
                        <button type="button"  onclick="window.location.href='Delete/{{i.id}}'" class="btn btn-danger"
                                data-target="#exampleModalCenter">
                            Delete
                        </button>
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
</body>
<script>
function myfunction(value) {
<!--    document.write(value);-->


    value= value.toString()
    document.getElementById("form_id").action = "edit/"+value;
    }
</script>


<script>
function logout() {

     if (window.confirm("Do you really want to leave?")) {
  window.open("{% url 'logout' %}", "Thanks for Visiting!");
}
}
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'></script>
<script src="{% static 'script.js' %}"></script>
</html>


